
@font-face {
    font-family: 'industryw00-lightregular';
    src: url('../fonts/industry_w00_light-webfont.woff2') format('woff2'),
         url('../fonts/industry_w00_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*generic*/
h1, h2{margin: 0;font-size:36px;}
p{line-height: 30px;font-size: 16px;letter-spacing: 1px;}
a{text-decoration:none;}
body {background-color: #2C6779;}
button{
    border: 5px solid #000!important;
    padding-bottom: 35px!important;
    letter-spacing: 7px!important;
    text-align: center!important;
    padding-right: 6px!important;
}
.page-header{
    margin-left:-40px;
    text-transform:capitalize;
    letter-spacing: 8px;
    font-family: 'industryw00-lightregular';
    color: #000;
}
/*generic*/

/*NAV*/
header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;  
    background-color: #2C6779;
}
nav {
    position: relative;
    height: 70px;
    width: 100px;
    color: #4967E6;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    float: right;
    height:100%;
} 
nav ul li {
    text-align:center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor:pointer;
}
nav ul li:hover, nav ul li.active{
    background-color: #792C48;
}

nav ul li a {    
    color: white;
    padding: 5px;
    margin: 20px;
    font-size: 17px;
}
/*NAV*/ 

/*CONTAINERS*/
section {
    width: 100%;
    min-height: 750px;
    height: 100vh;
    position: relative;
    display: block;
    background-color: white;
} 
section:nth-child(even) {
    -moz-box-shadow: 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #000000;
    box-shadow: 0px 0px 10px #000000;
    z-index: 1;
}
.container {
    padding: 30px;
    position: relative;
    display: block;
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    height: calc(100% - 35px);
}
.container-big {
    position: relative;
    display: block;
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 20px; 
    max-width: calc(100% - 50px);    
}
/*CONTAINERS*/

/*HOME*/
#home{
    max-height: 700px;
}
#home h1 {
    font-family: 'industryw00-lightregular';
}

#slide0{
    /*background:linear-gradient(to left, rgba(101, 203, 212, 0) 0%, rgba(101, 203, 212, .7) 90%), url('../imgs/home.png') 150px 0% / cover no-repeat;*/
    background-image: url(../imgs/home.png);
    background-size: 88%;
    color: #fff;
    background-position: 310px 0%;
    background-repeat: no-repeat;
    background-color: #8bb6c3;
}
#slide1{
    background:linear-gradient(to right, rgba(101, 203, 212, 0) 0%, rgba(101, 203, 212, 0.7) 70%), url('../imgs/damask.jpg') 50% 50% / cover no-repeat;
}
#slide2{
    background:linear-gradient(to top, rgba(101, 203, 212, 0) 0%, rgba(101, 203, 212, 0.6) 70%), url('../imgs/slide2.jpg') 50% 50% / cover no-repeat;
}
#slide3{
    background:linear-gradient(to left, rgba(101, 203, 212, 0) 0%, rgba(101, 203, 212, 0.8) 70%), url('../imgs/slide3.jpg') 50% 50% / cover no-repeat;
}
.slide-text{
    text-align: center;
    margin: 0 10px;
}
.slide-text .mdl-button {
    color: #fff;
    border: 5px solid #792C48!important;
    background-color: #792C48;
    width: 100%;
    min-width: 220px;
    margin-top: 20px;
    transition: all .2s ease;
}
.slide-text .mdl-button:hover {
    color:#fff;
    border: 5px solid #000!important;
    background-color: #000;
}
#home .container-big {
    text-align: center;
    font-size: 18px;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: inherit;
    -ms-flex-pack: center;
    -webkit-justify-content: inherit; 
    justify-content: inherit; 
    -webkit-box-align: inherit; 
    -ms-flex-align: inherit;
    -webkit-align-items: center;
    align-items: center;
    background:transparent;
}
#home .container-big h1{
    font-size:40px;
    letter-spacing:2px;
} 
#home .container-big p{
    font-size:20px;
} 
#slide0 .container-big{
    justify-content:left;
    text-align:left;
}
#slide1 .container-big{
    justify-content:flex-end;
    text-align:right;
}
#slide2 .container-big{
    justify-content:center;
    text-align:left;
}
#slide3 .container-big{
    justify-content:flex-start;
    text-align:left;
}
.slide-text button{
    margin-top:40px;
}
.simpleflex {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
/*HOME*/

/*ABOUT*/
#about {
    height: auto;
    background: #fff;
    background-color: #8bb6c3;
    color: #fff;
    min-height: 500px;
}
#about .container {
    background-color: transparent;
}
#toronto {
    height:250px;
    width:100%;
    -moz-box-shadow: inset 0px 0px 10px #000000;
    -webkit-box-shadow: inset 0px 0px 10px #000000;
    box-shadow: inset 0px 0px 10px #000000;
}
/*ABOUT*/

/*SERVICES*/
#services {
    background-color: #8bb6c3;
    color: #fff;
    height:auto;
}
#services .skin {
    width:100%;
    height:100%;
    position:absolute;
    opacity:.09;
    background-image:url('../imgs/grid.png');
}
#services .container{
    background-color:transparent;
    min-height:500px;
    height:auto;
}
.pricing{
    position: absolute;
    color: #fff;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    width: calc(100% - 55px);
}
.grid {
    display:flex;
    justify-content:center;
    flex-direction:column;
    height: calc(100% - 70px);
}
.row {
    width: auto;
    height: auto;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.column {
    width: 220px;
    margin: 0 0px;
    height: 220px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size:cover;
    background-repeat:no-repeat;
    text-align:center;
    color:#fff;
    cursor:pointer;
}
.column .shade{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4);
    position:absolute;
    z-index:0;
    opacity:1;
    transition: all .2s ease;
}
.column p{
    z-index:2;
    transition: all .2s ease;
    margin: 0;
    line-height: 20px;
}

.column:hover > .shade{
    opacity:0;
}
.column:hover > p{
    color:#000;
}
.close {
    width: 200px;
    flex: inherit;
}
.row .column:nth-child(1){
    margin-right:10px;
}
.row:nth-child(1) .column{
    margin-bottom:10px;
}
dialog{
    position: fixed!important;
    top: 50px!important;
    width: calc(100% - 250px)!important;
    height: calc(100vh - 140px)!important;
}
.mdl-dialog__actions {
    position: absolute!important;
    bottom: 5px!important;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mdl-dialog__actions button{
    height: 44px;
}
.mdl-dialog__actions a {
    flex: inherit;
    margin-left: 20px;
}
.serviceList{
    list-style-type: disc;
}
.serviceImg {
    width: 65%;
    float: right;
}
/*SERVICES*/
   
/*TESTIMONIALS*/
#testimonials{
    height: 80vh;
    background: #d6d6d6;
}
#testimonials .container{
    background: #d6d6d6;
    height: calc(100% - 80px);
}
.testimonial{
    padding: 0 120px;
    text-align: left;
}
.testimonial-imgs{
    display:flex;
    flex-direction:row;
    width:100%;
    height:350px;
}
.ref1{
    background: url('../imgs/ref1.jpg') no-repeat;
    background-size:100% 100%;
    width: 50%;
    height: 100%;
}
.ref2{
    background: url('../imgs/ref2.jpg') no-repeat;
    background-size:100% 100%;
    width: 50%;
    height: 100%;
}
.testimonial p{
    line-height:30px;
    letter-spacing: 2px;
}
.testimonial p:nth-child(1){
    font-size: 16px;
    margin-bottom: 50px;
}
.testimonial p:nth-child(2){
    font-family: 'Dancing Script', cursive;
}
.mdl-accordion--opened .mdl-accordion__button {
    background: linear-gradient(to left, rgba(121, 44, 72, 0) 96%, rgba(121, 44, 72, 1) 100%);
}

.mdl-accordion__content ul{
    list-style-type: disc;
    margin-left: 15px;
    padding: 20px 0 0 0;
}
/*TESTIMONIALS*/

/*FAQ*/
#faq{
    background-color: #fff;
    height:auto;
    min-height:auto;
    padding-bottom:20px;
}
#faq .container{
    padding: 30px 0;
    background-color: #fff;
    height: auto;
    min-height: inherit;
}
.half-container{
    width:50%;
}
.mdl-layout__container{
    position: relative;
    height:auto;
}
.mdl-accordion{
    margin-bottom: 5px;
    background: #fafafa!important;
}
.mdl-accordion.mdl-accordion--opened{
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  margin-top: -1px;
}
.mdl-accordion.mdl-accordion--opened + .mdl-accordion.mdl-accordion--opened{
  border-top: none;
  margin-top: 0;
}
.mdl-accordion .mdl-accordion__content-wrapper{
  overflow: hidden;
}
.mdl-accordion__content{
    margin: 10px 40px;
}
.mdl-accordion .mdl-accordion__content{
  transition-property: margin-top;
  transition-duration: 0.2s;
}
.mdl-accordion .mdl-accordion__icon{
  transition-property: transform;
  transition-duration: 0.2s;
  color: rgba(0,0,0,0.3);
  position: absolute;
  right: 6px;
  margin-top: -3px;
}
.mdl-accordion.mdl-accordion--opened .mdl-accordion__icon{
  transform: rotate(-180deg);
}
.mdl-accordion.mdl-accordion--opened .mdl-accordion__button{
  color: teal;
}
.mdl-accordion.mdl-accordion--opened .mdl-accordion__content{
  margin-top: 0 !important;
}
.mdl-layout__drawer{
    width: 100%;
    height: auto;
    border-right:0px solid transparent;
    background:transparent;
    box-shadow:none;
    position: relative;
}
.mdl-layout__drawer .mdl-navigation {
    padding-top:0px;
}
/*FAQ*/

/*CONTACT*/
#contact {
    background-color: white;
    /*max-height: 830px;*/
    overflow:hidden;
    height:auto;
}
#contact .container {
    height: auto;
    background-color: white;
}
#contact-img {
    position: absolute;
    display: inline-block;
    top: 90px;
    right: 0px;
    width: 49%;
}
.mdl-textfield {
    width: calc(100% - 25px);
}
textarea::placeholder {
    font-style: italic;
    color:#bdbdbd;
}
#contact button {
    border: 5px solid #792C48!important;
    background-color: #792C48;
    color:#fff;
}
#contact button:hover {
    border: 5px solid #000!important;
    background-color: #000;
}
/*CONTACT*/


/*FOOTER*/
footer {
    height:auto;
    width:calc(100% - 120px);
    position: relative;
    color: white;
    background-color: black;
    background-image:url('../imgs/footer.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center;
    padding: 60px 60px 20px 60px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.bottom-logo{
    margin-bottom: 50px;
}
.bottom-logo p:nth-child(1){
    font-size:25px;
    letter-spacing: 3px;
    margin-bottom:20px;
    text-transform:uppercase;
}
.foot-info{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    width: 1000px;
    margin: 0 auto;
    letter-spacing: 2px;
}
footer p {
    line-height: 20px;
    margin:0px;
}
footer a{
    color:#fff;
}
.bottomLogo{
    width: 250px;
    margin: -20px 0 20px 0;
}
/*FOOTER*/




/**************************************/
/*THIRD PARTY*/
/**************************************/


/*swiper slider starts*/
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #2C6779;
}

.swiper-button-next{
    background-image: url('../imgs/testimonial-right-arrow.svg');

}
.swiper-button-prev{
    background-image: url('../imgs/testimonial-left-arrow.svg');

}
/*swiper slider ends*/



.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }



/*mobile first*/
@media screen and (max-width: 599px) and (min-width: 0px) {
    .page-header {
        margin-left:0px;
    }
    .container {
        width: calc(100vw - 60px);
        padding: 0 20px;
    }
    .container-big {
        width: 100vw;
        max-width: calc(100vw - 30px);
        margin: 0;
    }
    header img {
        margin-left: 20px;
    }
    nav {
        position: absolute;
        height: 0px;
        overflow:hidden;
        width: 100vw;
        background-color: #18655a;
        top: 70px;
        margin-top: 0px;
    }
    nav.open {
        height:auto;
        transition: 0.4s;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        float: inherit;
        padding: 0;
        margin: 0;
    }
    nav ul li {
        text-align: center;
        padding: 5px;
        margin: 0;
        border-top: 1px solid #909090;
        cursor:pointer;
    }
    nav ul li:hover {
        background-color:#2C6779;
    }

    #toronto {
        display:none;
    }
    .mdl-textfield {
        width:100%;
    }
    .mdl-button {
        width: 100%;
    }
    #contact-img {
        display:none;
    }
    .half-container {
        width: 100%;
    }
    .foot-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;
        margin: 0 auto;
        letter-spacing: 2px;
    }
    .burger {
        display: inline-block;
    }
}

/*tablet first*/
@media screen and (max-width: 1239px) and (min-width: 600px) {
    .page-header {
        margin-left:0px;
    }
    .container {
        width: calc(100vw - 60px);
    }
    .container-big {
        width: 100vw;
        max-width: calc(100vw - 30px);
        margin: 0;
    }
    header img {
        margin-left: 20px;
    }
    nav {
        position: absolute;
        height: 0px;
        overflow:hidden;
        width: 100vw;
        background-color: #18655a;
        top: 70px;
        margin-top: 0px;
    }
    nav.open {
        height:auto;
        transition: 0.4s;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        float: inherit;
        padding: 0;
        margin: 0;
    }
    nav ul li {
        text-align: center;
        padding: 5px;
        margin: 0;
        border-top: 1px solid #909090;
        cursor:pointer;
    }
    nav ul li:hover {
        background-color:#2C6779;
    }
    #toronto {
        display:none;
    }
    .mdl-textfield {
        width:100%;
    }
    .mdl-button {
        width: 100%;
    }
    #contact-img {
        display:none;
    }
    .half-container {
        width: 100%;
    }
    .foot-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;
        margin: 0 auto;
        letter-spacing: 2px;
    }
    .burger {
        display: inline-block;
    }
}

/*desktop first*/
@media screen and (min-width: 1240px) {
    .burger {
        display: none;
    }
}  